*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse setting files.
.classpath
.project
.settings/

# Compilation folder.
bin/
target/

# Redis dump file
dump.rdb

# Git merge files
*.orig

# IDEA setting files.
workberch-topology.iml
workberch-topology.ipr
workberch-topology.iws
.idea/
